# ─── Server ───────────────────────────────────────────
PORT=5000
NODE_ENV=development

# ─── MongoDB Atlas ─────────────────────────────────────
# Replace <username>, <password>, and <cluster> with your Atlas details
MONGO_URI=mongodb+srv://pharmaAdmin:ly4e5xR8IbaaU7JB@cluster0.ijw5dsn.mongodb.net/pharma_db?retryWrites=true&w=majority

# ─── JWT ───────────────────────────────────────────────
# Generate a strong secret: node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"
JWT_SECRET=fe4d955eeb5de32cde3c883f2f94a1d93ca572a729723e70354ba9dc110cd3d7444cfc30770db0f8a1dc6be2df8793a6a07a85bf8a7a74bab9eccea38e7a6613
JWT_EXPIRES_IN=7d

# ─── Cloudinary ────────────────────────────────────────
# Get these from https://cloudinary.com/console
CLOUDINARY_CLOUD_NAME=dvoi8a2dp
CLOUDINARY_API_KEY=363767986341643
CLOUDINARY_API_SECRET=XWdPw75CZPCkivcElNwNlgZ_ZZ0

# ─── Frontend URL (for CORS) ───────────────────────────
FRONTEND_URL=http://localhost:5173
